Repository comworkio/kompose-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kompose-api-x86, kompose-deploy

kompose-api-x86:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "kompose-api" "1.0" "x86"
  tags:
  - kompose-api

kompose-deploy:
  stage: deploy
  script:
  - setsid ./ci/docker-deliver.sh "kompose-api" "1.0" "x86"
  tags:
  - kompose-api

Add documentation endpoint
  README.md
Due: none

Test automatic deployment
  docker-compose-comwork.yml
Due: kompose-deploy

Improve pipeline
  .gitlab-ci.yml
Due: none

Improve deployments
  .gitlab-ci.yml
  ci/deploy.sh
Due: none

Change port
  docker-compose-comwork.yml
Due: kompose-deploy

Improve documentation
  README.md
Due: none

Improve routes
  README.md
  api.py
Due: kompose-api-x86, kompose-deploy

Improve routes
  .gitlab-ci.yml
  README.md
  docker-compose-comwork.yml
Due: kompose-deploy

Enable apply feature
  .gitlab-ci.yml
  Dockerfile
  README.md
  api.py
  docker-compose-comwork.yml
  konvert.sh
  versions.sh
Due: kompose-api-x86, kompose-deploy

Enable apply feature
  Dockerfile
  ci/deploy.sh
Due: kompose-api-x86, kompose-deploy

Fix: bad function name
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Fix: bad function name
  api.py
Due: kompose-api-x86, kompose-deploy

Fix: bad variable name
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Fix: missing then
  .gitlab-ci.yml
  docker-compose-comwork.yml
  konvert.sh
Due: kompose-api-x86, kompose-deploy

Fix: bash condition
  .gitlab-ci.yml
  docker-compose-comwork.yml
  konvert.sh
Due: kompose-api-x86, kompose-deploy

Fix: remove namespace option
  .gitlab-ci.yml
  docker-compose-comwork.yml
  konvert.sh
Due: kompose-api-x86, kompose-deploy

Add namespace header
  README.md
Due: none

Security for shell injection
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Remove useless routes and import
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Update README.md
  README.md
Due: none

Improve indent
  konvert.sh
Due: kompose-api-x86, kompose-deploy

Improve is_not_empty function
  .gitlab-ci.yml
  api.py
Due: kompose-api-x86, kompose-deploy

Improve is_not_empty function
  docker-compose-comwork.yml
Due: kompose-deploy

Add documentation
  .gitlab-ci.yml
  Dockerfile
  README.md
  api.py
  docker-compose-comwork.yml
  requirements.txt
Due: kompose-api-x86, kompose-deploy

Deploy new version and patch like the other flask restfull api
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Better documentation rendering on gitlab
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Fix: kompose link
  .gitlab-ci.yml
  README.md
  docker-compose-comwork.yml
Due: kompose-deploy

Improve link
  .gitlab-ci.yml
  api.py
  docker-compose-comwork.yml
Due: kompose-api-x86, kompose-deploy

Update docker-deliver.sh in order to use an environment variable for docker login instead
  ci/docker-deliver.sh
Due: kompose-api-x86, kompose-deploy

Upgrade kompose and kubectl
  .gitlab-ci.yml
  Dockerfile
  api/api.py
  api/konvert.sh
  api/requirements.txt
  api/versions.sh
Due: kompose-api-x86, kompose-deploy

Update gitlab-ci
  .gitlab-ci.yml
Due: none

Refactoring: extract utils functions in a new file
  api/api.py
  api/kompose_api_utils.py
  docker-compose-comwork.yml
Due: kompose-deploy

Extract some endpoints in new files
  .gitlab-ci.yml
  api/api.py
  api/api_doc.py
  api/api_manifest.py
  api/api_versions.py
Due: none

Refactoring extract komposeApi into a new file
  .gitlab-ci.yml
  api/api.py
  api/api_kompose.py
  api/api_manifest.py
Due: none

Move kompose-api
  ci/deploy.sh
  ci/docker-deliver.sh
  ci/mirror.sh
Due: kompose-api-x86, kompose-deploy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update deploy.sh
  ci/deploy.sh
Due: none

Path conditions:
  kompose-api-x86: any of: api.py, Dockerfile, docker-compose-build-x86.yml, ci/docker-deliver.sh, kompose_versions.sh, konvert.sh
  kompose-deploy: any of: api.py, Dockerfile, docker-compose-build-x86.yml, docker-compose-comwork.yml, ci/docker-deliver.sh, kompose_versions.sh, konvert.sh
